.header__logo {
	width: 142px;
	height: 33px;

	/*border: 1px solid red;*/
}

@media screen and (max-width: 767px) {
	.header__logo {
    margin-left: 27px;
	}
}

@media screen and (max-width: 575px) {
	.header__logo {
		width: 103.74px;
		height: 24.4px;
    margin-left: 27px;
	}
}
